@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$globalFont: "Exo 2", sans-serif;
$globalFont2: "Montserrat", sans-serif;
$globalColor: #6265d8;

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(100vh - 100px);
  .titles {
    flex: 1;
    padding: 10px 30px;
    h1 {
      font-size: 3rem;
      font-family: $globalFont;
      padding: 5px;
      color: $globalColor;
    }
    p {
      padding: 5px;
      font-family: $globalFont2;
      color: #a3a3a3;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    @import 'Button.style.scss';
  }
  img {
    flex: 1;
    width: 55%;
    padding: 10px 20px;
  }

  @media only screen and (max-width: 920px){
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 0px;
    .titles{
      padding: 10px;
      h1{
        font-size: 2.4rem;
      }
    }
    img{
      width: 100%;
      padding: 0;
    }
  }
}
