@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

$headerFont: "Montserrat", sans-serif;
$logoFont: "Josefin Sans", sans-serif;
$globalColor: #726bdf;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  .logo {
    text-decoration: none;
    font-size: 2.6rem;
    font-family: $logoFont;
    color: $globalColor;
  }
  .navbar {
    ul {
      display: flex;
      li {
        list-style-type: none;
        padding: 0px 18px;
        i {
          padding: 0px 3px;
          color: $globalColor;
          cursor: pointer;
        }
        a {
          text-decoration: none;
          font-size: 1rem;
          font-family: $headerFont;
          color: $globalColor;
          &:hover {
            border-bottom: 1px solid $globalColor;
            padding-bottom: 2px;
          }
        }
      }
    }
    @media only screen and (max-width: 920px) {
      & {
        background: rgb(98, 101, 216);
        background: linear-gradient(
          145deg,
          rgba(98, 101, 216, 1) 0%,
          rgba(217, 137, 226, 1) 100%
        );
        position: absolute;
        top: 70px;
        width: 100%;
        left: 0;
        text-align: center;
        height: 0;
        padding: 0;
        transition: 0.5s ease-in-out;
        ul {
          display: none;
          li {
            padding: 30px;
            border-bottom: 1px solid #fff;
            i {
              color: #fff;
            }
            a {
              color: #fff;
            }
          }
          .border-b {
            border-bottom: none;
          }
        }
        &.active {
          height: 53vh;
          padding: 20px 10px;
          ul {
            display: inline;
          }
        }
      }
    }
  }

  .networks {
    .fa-brands {
      padding: 0px 10px;
      color: $globalColor;
      font-size: 1.1rem;
    }
    @media only screen and (max-width: 1040px) {
      & {
        display: none;
      }
    }
  }

  .hamburger {
    display: none;
    font-size: 1.4rem;
    color: $globalColor;
  }

  @media only screen and (max-width: 920px) {
    padding: 15px 25px;
    .logo {
      font-size: 2rem;
    }
    .hamburger {
      display: block;
    }
  }
}
