@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

$headerFont: "Montserrat", sans-serif;
$globalColor: #726bdf;

.news{
  padding: 60px;
  h1{
    color: $globalColor;
    padding: 10px 0px;
    font-family: $headerFont;
  }
  .posts{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
    .post{
      border: 1px solid $globalColor;
      border-radius: 10px;
      img{
        width: 100%;
        height: 50vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      h4{
        font-family: $headerFont;
        color: $globalColor;
        padding: 10px;
        margin-bottom: 20px;
      }
      @import 'Button.style.scss';
    } 
  }
  @media only screen and (max-width: 920px){
    padding: 60px 20px;
    .posts{
      grid-template-columns: auto;
      .post{
        img{
          height: auto;
        }
      }
    }
  }
}