@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.section-title{
  font-family: "Josefin Sans", sans-serif;
  color: #726bdf;
  font-size: 2.5rem;
  padding: 5px;
  padding-bottom: 1px;
}