@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.section-title{
  font-family: "Josefin Sans", sans-serif;
  color: #726bdf;
  font-size: 2.5rem;
  padding: 5px;
  padding-bottom: 1px;
  text-align: center;
  p{
    text-align: center;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    padding: 10px 100px;
  }
}
